<html>
  <head>
    <title>reddit clone</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.22/angular-ui-router.js"></script>
    <script src="/javascripts/angularApp.js"></script>
  </head>

  <body ng-app="flapperNews">
      <nav class="navbar navbar-expand-sm fixed-top" ng-controller="NavCtrl">
        <a class="navbar-brand" href="#" id="reddit-link">
          <img id="reddit-icon" src="https://apprecs.org/ios/images/app-icons/256/29/923187241.jpg"</img>reddit 2.0
        </a>
        <div class="container-fluid">
          <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> -->
          <ul class="nav navbar-nav ml-auto">
            <li ng-show="isLoggedIn()">
              <a>{{currentUser()}}</a>
            </li>
            <li ng-show="isLoggedIn()">
              <a href="" ng-click="logOut()">Log Out</a>
            </li>
            <li class="nav-item" ng-hide="isLoggedIn()" id="login-button">
              <a class="nav-border" href="/#!/login">LOG IN</a>
            </li>
            <li class="nav-item" ng-hide="isLoggedIn()" id="sign-up-button">
              <a class="nav-border sign-up-button" href="/#!/register">SIGN UP</a>
            </li>
            <li class="nav-item dropdown" id="account-dropdown">
              <a class="nav-border nav-dropdown-border dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right" >
                <a class="dropdown-item" href="#">Help Center</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Log In / Sign Up</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <!-- <div class="row filter-options">
        <div class="container second-navbar">
          <nav class="navbar-expand-sm">
            <div class="navbar-nav">
              <a class="nav-item disabled">VIEW</a>
              <a class="nav-item"><i class="fas fa-align-justify"></i></a>
            </div>
          </nav>
        </div>
      </div> -->
      <div class="row align-items-center">
        <div class="col-md-6 col-md-offset-3 container-size">
          <ui-view class="content"></ui-view>
        </div>
      </div>

    <script type="text/ng-template" id="/home.html">
      <div class="page-header">
        <h1>Flapper News</h1>
      </div>

      <div ng-show="error" class="alert alert-danger row">
        <span>{{ error }}</span>
      </div>

      <div ng-repeat="post in posts | orderBy: '-upvotes'">
        <div class="post-container">
          <div class="vote-container" ng-hide="post.usersVoted.includes(userId())">
            <i class="fas fa-arrow-up" id="arrow-up-icon" ng-click="incrementUpvotes(post)"></i>
            <span id="num-votes">{{post.upvotes}}</span>
            <i class="fas fa-arrow-down" id="arrow-down-icon" ng-click="decrementUpvotes(post)"></i>
          </div>
          <div class="post-body">
            <!-- <span ng-show="post.author">
              posted by <a>{{ post.author }}</a>
            </span> -->
            <span style="margin-left:5px; flex-grow: 0;">
              posted by <a>{{ post.author }}</a> hours ago
            </span>
            <span style="font-size:20px; margin-left:5px; flex-grow: 5;">
              <a ng-show="post.link" href="{{post.link}}">
                {{post.title}}
              </a>
              <span ng-hide="post.link">
                {{post.title}}
              </span>
            </span>
            <span style="margin-left: 5px; flex-grow: 0;">
              <a href="#!/posts/{{post._id}}">{{post.comments.length}} Comments</a>
            </span>
          </div>
        </div>
      </div>

      <div ng-hide="showField || !isLoggedIn()">
        <button type="button" ng-click="showAddPost()">Add a new post
        </button>
      </div>

      <form ng-submit="addPost()" ng-show="showField && isLoggedIn()" style="margin-top:30px;">
        <h3>Add a new post</h3>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Title" ng-model="title"></input>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Link" ng-model="link"></input>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
      </form>
      <div ng-hide="isLoggedIn()">
        <h3>You need to <a href="/#!/login">Log In</a> or <a href="/#!/register">Register</a> before you can add a post.</h3>
      </div>
    </script>

    <script type="text/ng-template" id="/posts.html">
      <div class="page-header">
        <h3>
          <a ng-show="post.link" href="{{post.link}}">
            {{post.title}}
          </a>
          <span ng-hide="post.link">
            {{post.title}}
          </span>
        </h3>
      </div>

      <div ng-show="error" class="alert alert-danger row">
        <span>{{ error }}</span>
      </div>

      <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
        <div ng-hide="comment.usersVoted.includes(userId())">
          <button class="glyphicon glyphicon-thumbs-up" type="button" ng-click="incrementUpvotes(comment)">Up</button>
          <button class="glyphicon glyphicon-thumbs-up" type="button" ng-click="decrementUpvotes(comment)">Down</button>
        </div>
        {{comment.upvotes}} - by {{comment.author}}
        <span style="font-size:20px; margin-left:10px;">
          {{comment.body}}
        </span>
      </div>

      <div ng-hide="showField || !isLoggedIn()">
        <button type="button" ng-click="showAddComment()">Add a new comment
        </button>
      </div>
      <form ng-submit="addComment()" ng-show="showField && isLoggedIn()" style="margin-top:30px;">
        <h3>Add a new comment</h3>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Comment" ng-model="body"></input>
          <input type="text" class="form-control" placeholder="Author (Username will be default if not specified)" ng-model="author"></input>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
      </form>

      <div ng-hide="isLoggedIn()">
        <h3>You need to <a href="/#!/login">Log in</a> or <a href="/#!/register">Register</a> before you can add a comment.</h3>
      </div>
    </script>

    <script type="text/ng-template" id="/register.html">
      <div class="page-header">
        <h1>Flapper News</h1>
      </div>

      <div ng-show="error" class="alert alert-danger row">
        <span>{{ error.message }}</span>
      </div>

      <form ng-submit="register()" style="margin-top:30px;">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Username" ng-model="user.username"></input>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" ng-model="user.password"></input>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </script>

    <script type="text/ng-template" id="/login.html">
      <div class="page-header">
        <h1>Flapper News</h1>
      </div>

      <div ng-show="error" class="alert alert-danger row">
        <span>{{ error.message }}</span>
      </div>

      <form ng-submit="logIn()" style="margin-top:30px;">
        <h3>Log In</h3>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Username" ng-model="user.username"></input>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" ng-model="user.password"></input>
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
      </form>
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
